@page
@model TorreControlRaze.Pages.Login.LoginModel
@{
}
<form method="post">
   
        <legend>Login</legend>
        <div>
            <label for="userId">Cod. Empleado:</label>
            <input type="text" name="userId" placeholder="@TempData["manolo"]" value="" />
        </div>
        <div>
            
        </div>
        <div>
            <label for="userPasswd">Clave Empleado:</label>
            <input type="password" name="contraseña"  value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" asp-page-handler="Empleado" value="submit" class="submit" />
        </div>
    
</form>
